<a href="https://colab.research.google.com/github/priyanshig9/IMS/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 

accepted_fn = '/content/drive/MyDrive/Colab Notebooks/LendingClubDataset/accepted_2007_to_2018Q4.csv'
rejected_fn= '/content/drive/MyDrive/Colab Notebooks/LendingClubDataset/rejected_2007_to_2018Q4.csv'

In [9]:
acc_df = pd.read_csv(accepted_fn)
rej_df = pd.read_csv(rejected_fn)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:

acc_df.shape

(2260701, 151)

In [11]:
rej_df.shape

(27648741, 9)

In [12]:
rej_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB

In [14]:
acc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

In [15]:
acc_df.tail()

                                                       id  ...  settlement_term
2260696                                          88985880  ...              NaN
2260697                                          88224441  ...              1.0
2260698                                          88215728  ...              NaN
2260699  Total amount funded in policy code 1: 1465324575  ...              NaN
2260700   Total amount funded in policy code 2: 521953170  ...              NaN

[5 rows x 151 columns]

In [16]:
acc_df.head()

         id  member_id  ...  settlement_percentage  settlement_term
0  68407277        NaN  ...                    NaN              NaN
1  68355089        NaN  ...                    NaN              NaN
2  68341763        NaN  ...                    NaN              NaN
3  66310712        NaN  ...                    NaN              NaN
4  68476807        NaN  ...                    NaN              NaN

[5 rows x 151 columns]

In [18]:
acc_df.describe()

       member_id     loan_amnt  ...  settlement_percentage  settlement_term
count        0.0  2.260668e+06  ...           34246.000000     34246.000000
mean         NaN  1.504693e+04  ...              47.780365        13.191322
std          NaN  9.190245e+03  ...               7.311822         8.159980
min          NaN  5.000000e+02  ...               0.200000         0.000000
25%          NaN  8.000000e+03  ...              45.000000         6.000000
50%          NaN  1.290000e+04  ...              45.000000        14.000000
75%          NaN  2.000000e+04  ...              50.000000        18.000000
max          NaN  4.000000e+04  ...             521.350000       181.000000

[8 rows x 113 columns]

In [22]:
missing_data = acc_df.isnull().sum().sort_values(ascending= False)
drop_columns = list(missing_data[missing_data > acc_df.shape[0] *0.2].index) # drop columns where at least 10% of data is missing
acc_df = acc_df.drop(drop_columns, axis = 1)
missing_data

mths_since_recent_inq    295468
emp_title                167002
num_tl_120dpd_2m         153690
emp_length               146940
mo_sin_old_il_acct       139104
                          ...
out_prncp                    33
initial_list_status          33
revol_bal                    33
fico_range_high              33
id                            0
Length: 93, dtype: int64

In [23]:
acc_df.shape

(2260701, 93)

In [24]:
print(acc_df["loan_status"].unique())

['Fully Paid' 'Current' 'Charged Off' 'In Grace Period'
 'Late (31-120 days)' 'Late (16-30 days)' 'Default' nan
 'Does not meet the credit policy. Status:Fully Paid'
 'Does not meet the credit policy. Status:Charged Off']

In [25]:
acc_df['grade'].unique()

array(['C', 'B', 'F', 'A', 'E', 'D', 'G', nan], dtype=object)

In [27]:
acc_df[acc_df['grade'] == 'A'].describe()

           loan_amnt    funded_amnt  ...  total_bc_limit  total_il_high_credit_limit
count  433027.000000  433027.000000  ...   420666.000000                4.162810e+05
mean    14603.343210   14598.002723  ...    35655.418555                4.564242e+04
std      9107.975657    9108.870617  ...    29887.267827                4.770962e+04
min       500.000000     500.000000  ...        0.000000                0.000000e+00
25%      8000.000000    8000.000000  ...    15100.000000                1.534900e+04
50%     12000.000000   12000.000000  ...    27500.000000                3.387700e+04
75%     20000.000000   20000.000000  ...    47300.000000                6.105900e+04
max     40000.000000   40000.000000  ...   760000.000000                2.101913e+06

[8 rows x 69 columns]

In [28]:
acc_df['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [31]:
acc_df.drop(labels=excluded_features, axis=1, inplace=True)

NameError: ignored

In [32]:
acc_df['loan_status'].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [35]:
acc_df = acc_df.loc[acc_df['loan_status'].isin(['Fully Paid','Charged Off'])]
print("Number of loans: "+"{:,.0f}".format(len(acc_df)))

Number of loans: 1,345,310

In [36]:
acc_df.shape

(1345310, 93)